// COLOR VARIABLES
$theme-blue: #114DA8;
$black: #1D222E;
$steel: #2D3448;
$slate: #40465B;
$silver: #747885;
$smoke: #E9EEF7;
$snow: #F4F7FC;
$white: #FFFFFF;
$pure-black: #000000;

// FONT VARIABLES
$font-family-rubik: "Rubik";
$font-family-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// font sizes
$font-size-xxxl: 3rem;
$font-size-xxl: 2.25rem;
$font-size-xl: 1.75rem;
$font-size-l: 1.25rem;
$font-size-m: 1rem;
$font-size-s: .75rem;
$font-size-xs: .625rem;
// font weight
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Z-INDEX
$z-index-header: 10;
$z-index-nav-overlay: 20;
$z-index-nav: 30;
$z-index-nav-menu: 40;
